body
{
    width:100%;
	height:100%;
}
h1
{
	text-align:center;
	color:#fff;
	font-size:60px;
	font-family: 'Fruktur', cursive;
	margin-top:180px;
	text-shadow:1px 1px 1px #ccc,
				0 0 10px #fff,
				0 0 20px #fff,
				0 0 30px #fff,
				0 0 40px #ff0000,
				0 0 50px #ff0066,
				0 0 60px #ff00cc,
				0 0 70px #ff00de,
				0 0 80px #ff00de,
				0 0 100px #ff00de,
				0 0 150px #ff00de;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	-o-transform-style:preserve-3d;
	animation:run ease-in-out 9s infinite;
	-webkit-animation: run ease-in-out 9s infinite;
	-moz-animation: run ease-in-out 9s infinite;
	-ms-animation: run ease-in-out 9s infinite;
	-o-animation: run ease-in-out 9s infinite;
}
.fa-heartbeat
{
	color:#ff00de;
	font-size:66px;
}
@keyframes run
{
	0%
	{
		transform:rotateX(-5deg) rotateY(0);
	}
	50%
	{
		transform:rotateX(0) rotateY(180deg);
		text-shadow:1px 1px px #ccc,
				0 0 10px #fff,
				0 0 20px #fff,
				0 0 30px #fff,
				0 0 40px #ff0000,
				0 0 70px #ff00de,
				0 0 80px #ff00de,
				0 0 100px #ff00de,
				0 0 150px #ff00de;
	}
	100%
	{
		transform:rotateX(5deg) rotateY(0);
	}
}
@-webkit-keyframes run
{
    0%
	{
		transform:rotateX(-5deg) rotateY(0);
	}
	50%
	{
		transform:rotateX(0) rotateY(180deg);
		text-shadow:1px 1px px #ccc,
				0 0 10px #fff,
				0 0 20px #fff,
				0 0 30px #fff,
				0 0 40px #ff0000,
				0 0 70px #ff00de,
				0 0 80px #ff00de,
				0 0 100px #ff00de,
				0 0 150px #ff00de;
	}
	100%
	{
		transform:rotateX(5deg) rotateY(0);
	}
}
@-moz-keyframes run
{
    0%
	{
		transform:rotateX(-5deg) rotateY(0);
		
	}
	50%
	{
		transform:rotateX(0) rotateY(180deg);
		text-shadow:1px 1px px #ccc,
				0 0 10px #fff,
				0 0 20px #fff,
				0 0 30px #fff,
				0 0 40px #ff0000,
				0 0 70px #ff00de,
				0 0 80px #ff00de,
				0 0 100px #ff00de,
				0 0 150px #ff00de;
	}
	100%{
		transform:rotateX(5deg) rotateY(0);
	}
}
@-o-keyframes run
{
    0%
	{
		transform:rotateX(-5deg) rotateY(0);
	}
	50%
	{
		transform:rotateX(0) rotateY(180deg);
		text-shadow:1px 1px px #ccc,
				0 0 10px #fff,
				0 0 20px #fff,
				0 0 30px #fff,
				0 0 40px #ff0000,
				0 0 70px #ff00de,
				0 0 80px #ff00de,
				0 0 100px #ff00de,
				0 0 150px #ff00de;
	}
	100%
	{
		transform:rotateX(5deg) rotateY(0);
	}
}


  

